@using DasKlub.Lib.Resources
@{
    ViewBag.Title = Messages.TextDescriptions;
}
@{ Html.RenderPartial("_adminMenu"); }    


<h2>@Messages.TextDescriptions</h2>
@{ Html.RenderPartial("_productNav"); }