body { font-family: Tahoma, Geneva, sans-serif; }


p { color: #ffffff;font-family: Verdana, Arial, sans-serif; text-align:justify; }


.gallery ul {
    margin: 0;
    padding: 0;
}

.gallery li {
    float: left;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 3px;
    /* width: 125px;*/
}

#video_filter li {
    float: left;
    list-style-type: none;
    margin: 1px;
    padding: 1px;
}

.image .text {
    font-size: 9px;
    line-height: 10px;
}


.no_border { border: none !important; }

.date_message { font-style: italic; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .well, .breadcrumb, input, input[type="file"], select { border-color: #484848; }


.no_mp {
    margin: 0;
    padding: 0;
}


.letter_group ul {
    margin: 0;
    padding: 0;
}

.letter_group li {
    float: left;
    font-size: 11px;
    list-style-type: none;
    padding: 2px;
}


 

#toTop {
    background: url("../images/arrows/ui.totop.png") no-repeat scroll left top transparent;
    border: 0 none;
    bottom: 10px;
    display: none;
    height: 51px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    text-indent: -999px;
    width: 51px;
}

#toTopHover {
    background: url("../images/arrows/ui.totop.png") no-repeat scroll left -51px transparent;
    display: block;
    float: left;
    height: 51px;
    opacity: 0;
    overflow: hidden;
    width: 51px;
}


#toTop2 {
    background: url("../images/arrows/ui.totop2.png") no-repeat scroll left top transparent;
    border: 0 none;
    bottom: 10px;
    display: none;
    height: 51px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    text-indent: -999px;
    width: 51px;
}

#toTopHover2 {
    background: url("../images/arrows/ui.totop2.png") no-repeat scroll left -51px transparent;
    display: block;
    float: left;
    height: 51px;
    opacity: 0;
    overflow: hidden;
    width: 51px;
}

.clear { clear: both; }



.image .text {
    font-size: 9px;
    line-height: 10px;
}

  
  
  
#dhtmlgoodies_tooltip {
    -moz-border-radius: 6px; /* Rounded edges in Firefox */
    background-color: #000;
    border: 1px solid #000;
    display: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 0.9em;
    padding: 2px;
    position: absolute;
    z-index: 20000;
}

#dhtmlgoodies_tooltipShadow {
    -khtml-opacity: 0.7;
           
    -moz-border-radius: 6px; /* Rounded edges in Firefox */
    -moz-opacity: 0.7;
    display: none;
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: absolute;
    z-index: 10000;
}

option { background-color: #000; }
 
 
 
.featured_user {
    background-color: #000;
    height: 210px;
    width: 210px;
}

.video_list_detail {
    line-height: 22px;
    margin-left: 10px;
}

.video_page_list_item li {
    background-color: #0e0e0e;
    float: left;
}

.video_page_list_item img {
    height: 90px;
    width: 120px;
}

.video_page_list_item span { font-size: 18px; }
 
 
li.video_page_list_item { padding: 8px; }

.side_video_thumbs img { margin-right: 5px; }
  
  
.video_thumb { position: relative; }

.video_thumb a {
    display: block;
    height: 135px;
    left: 75px;
    padding-left: 20px;
    position: absolute;
    top: 50px;
    width: 170px;
}


.video_thumb a:hover {
    background: url(../images/playButtonOverlay.png);
    background-repeat: no-repeat;
    display: block;
    height: 135px;
    left: 75px;
    padding-left: 20px;
    position: absolute;
    top: 50px;
    width: 170px;
}


.video_thumb img { margin: 5px; }

#band_list_cloud a {
    line-height: 30px;
    padding-right: 20px;
}

 
button.bring_down[type="submit"] {
    background-color: transparent;
    background-image: url("../images/arrows/down_arrow.png");
    background-position: center top;
    border: 0 none;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}

button.bring_down[type="submit"]:hover { background-position: center center; }

button.bring_down[type="submit"]:hover { background-position: center bottom; }

button.bring_up[type="submit"] {
    background-color: transparent;
    background-image: url("../images/arrows/up_arrow.png");
    background-position: center top;
    border: 0 none;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}

button.bring_up[type="submit"]:hover { background-position: center center; }

button.bring_up[type="submit"]:hover { background-position: center bottom; }

button.applaud_status_comment[type="button"], button.applaud_status[type="button"] {
    background-color: transparent;
    background-image: url("../images/acknowledgement/applaud.png");
    background-position: center top;
    border: 0 none;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}


button.applaud_status_comment_complete[type="button"], button.applaud_status_complete[type="button"] {
    background-color: transparent;
    background-image: url("../images/acknowledgement/applaud_check.png");
    background-position: center top;
    border: 0 none;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}

button.beat_status_comment[type="button"], button.beat_status[type="button"] {
    background-color: transparent;
    background-image: url("../images/ackfnowledgement/beat.png");
    background-position: center top;
    border: 0 none;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}


button.beat_status_comment_complete[type="button"], button.beat_status_complete[type="button"] {
    background-color: transparent;
    background-image: url("../images/acknowledgement/beat_check.png");
    background-position: center top;
    border: 0 none;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}

#logged_in_user_count {
    color: #00FF1E;
    font-size: 16px;
}

.superquote {
    clear: both;
    font-size: 16px;
    font-style: italic;
    line-height: 1.8em;
    margin: 20px 0;
    padding-left: 20px;
}

article { text-align: justify;}

p { line-height: 1.8em;}

article, article p {
    line-height: 1.8em;
    font-size: 16px; 
    color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
}

article img { margin: 15px;box-shadow: 7px 7px 5px #000000;}

ul#article_list img{box-shadow: 7px 7px 5px #000000;}
ul.photo_navs img {box-shadow: 6px 6px 4px #000000;margin: 5px;}

.photo_item_list span {
    color: white;
    font-size: 18px;
}

.photo_item_list img {

    background: #000;
    border: 1px solid #000;
    height: 150px;
    margin: 1px;
    width: 150px;
}

.photo_item_list li { list-style-type: none; }   

 
.is-visible { color: #468847; }

.full_row { font-size: 20px; }
 
 
.item_menu { list-style-type: none; }
 
 
.filtered_choice { color: Yellow; }
 
 
input[disabled] .filtered_choice, select[disabled].filtered_choice, textarea[disabled] .filtered_choice, input[readonly] .filtered_choice, select[readonly] .filtered_choice, textarea[readonly] { background-color: #000 }

.photo_item_list li { float: left; }

.photo_item_list li { font-size: 10px; }
  
  
.the-icons a {
    float: left;
    margin: 0;
    padding: 0;
}

.the-icons a.left_to_right {
    float: none;
    margin: 0;
    padding: 0;
}

.contest_videos ul li {
    float: left;
    height: 100px;
    list-style: none;
    padding: 4px;
    width: 100px;
}
  
  
 
 
.green { color: #468847 }

.yellow { color: #C09853 }

.red { color: #B94A48; }

.thumbnail img { border: solid 3px transparent; }

ul.profile_images {
    margin: 0;
    padding: 0;
}

ul.profile_images li {
    float: left;
    list-style-type: none;
}
 


    
 
.playlist_mod { clear: both; }

.profile_list li {
    background-color: #000;
    border: 1px solid #CCC;
    border-radius: 90px;
    float: left;
    height: 115px;
    list-style-type: none;
    margin: 15px;
    padding: 35px;
    width: 115px;
}

li.playlist_mod ul { list-style-type: none; }


.gs-snippet { color: #000 !important; }

 
.news_list li { list-style-type: none; }

.row .span2 { margin-right: 3px; }

#article_list li { list-style-type: none; }

ul.list_less { list-style-type: none; }

table td.full_row {
    color: #DDD;
    text-align: center;
}
 
 
.validation-summary-valid { display: none; }

.validation-summary-errors, .field-validation-error {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #F2DEDE;
    border: 1px solid;
    border-color: #EED3D7;
    border-radius: 4px;
   
    color: #B94A48;
 
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 50%;
}

#logged_in_menu li a.alert_yellow {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #F89406;
}
 
 
.span8 ul, ol { padding: 0; }

.alert-success { width: 50%; }

input.blur {
    color: #2C2C2C;
    font-style: italic;
}


#mail_items li {
    list-style-type: none;
    padding: 10px;
}

#mail_items li .content_message {
    -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    border-bottom: 1px solid #121212;
    border-top: none;
    box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    line-height: 25px;
    padding-bottom: 15px;
}
                 
                 
                 /* Webkit */

::selection {
    background: #FFF;
    color: #000;
}
/* Gecko/Mozilla */

::-moz-selection {
    background: #FFF;
    color: #000;
}

 

#most_applauded li, #status_update_list li { list-style-type: none; }

.status_post {
    background-color: #293134;
    border: 5px double #181919;
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 10px;
    width: 85%;
}

/*.small_site_badge { width: 10px; height: 10px;}                   */

.delete_icon { margin-left: 5px; }

.acknowlege_options { height: 100%; }

.acknowlege_options .span1 { margin-left: 5px }

.thumbnail {
    border-width: 3px;
    margin: 5px;
    padding: 5px;
}

.thumbnail img { padding: 0px }
 
 
#mail_items { margin-left: 0; }

.navbar .brand { padding: 0; }

.navbar-fixed-top .brand { float: left; }
 
 
li.status_post .span2 { margin-left: 0; }

.user_account_thumb {
    float: left;
    padding-right: 3px;
}

.acknowlege_options .span1 { float: left; }

.video_list li {
    float: left;
    list-style-type: none;
    margin: 3px;
    padding: 3px;
}

.post_content, #logged_in_user_count { color: #00FF1E; }

.navbar .nav > li > a.site_name {
    color: #FFF;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
}
                             
/* google search */

.gsc-branding, .gsc-clear-button {
    display: none;
    visibility: hidden;
}

#gsc-i-id1 {
    background-image: none !important;
    color: #000 !important
}

ul#status_update_list_items {
    margin: 0;
    padding: 0;
}

.notification_list li {
    border-bottom: 1px solid #FFF;
    list-style-type: circle;
    padding-bottom: 2px;
}


.navbar-fixed-top .brand { margin-left: 0; }

.status_accordion_child {
    background-color: #000;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 2px;
    width: 50%;
}

.inner_status_com {
    border-bottom: 1px solid #FFF;
    margin: 5px;
    padding: 5px;
}

a.notification_link { font-size: 16px; }

ul.photo_navs {
    margin-left: 0;
    padding-left: 0;
}

ul.photo_navs li { list-style-type: none }

ul.photo_navs li img { border: 3px solid #000; }

ul.photo_navs li a:hover img { border: 3px solid #0088CC; }

#rotator ul {
    margin: 0;
    padding: 0;
}

.profile_group { margin-left: 0; }

ul.contact_options { margin-left: 0; }

.contact_options
li {
    display: block;

    margin-top: 7px;
    padding-left: 20px;
    padding-right: 11px;
}
 
 
.message_option { background: url(../images/icons/icon_mail.png) no-repeat left 50% }

.cyber_option { background: url(../images/icons/icon_keyboard.png) no-repeat left 50% }

.cyber_option_green { background: url(../images/icons/icon_keyboard_green.png) no-repeat left 50% }

.cyber_option_orange { background: url(../images/icons/icon_keyboard_orange.png) no-repeat left 50% }

.irl_option { background: url(../images/icons/icon_irl.png) no-repeat left 50% }

.irl_option_green { background: url(../images/icons/icon_irl_green.png) no-repeat left 50% }

.irl_option_orange { background: url(../images/icons/icon_irl_orange.png) no-repeat left 50% }

.user_account_thumb a { font-size: 10px; } 
 
  
  
.next_video {
    background: url(../images/arrows/arrow_forward.png) bottom;
    display: block;
    float: left;
    height: 33px;
    text-indent: -99999px;
    width: 33px;
}

.next_video:hover { background-position: 0 0; }

 
.user_list {
    margin: 0;
    padding: 0;
}

.user_list li {
    float: left;
    height: 95px;
    list-style-type: none;
    margin: 3px;
    margin-bottom: 18px;
    padding-bottom: 12px;
    width: 90px;      
}

.user_list a { font-size: 10px; }

.status_accordion_child ul {
    margin: 0;
    padding: 0;
}

.profile_thumb {
    display: block;
    margin: 5px;
    padding: 5px;
}

.profile_thumb img { border: 3px solid transparent; }
  
.table tbody tr:hover td,
.table tbody tr:hover th { color: #000; }
 
.ui-accordion-content a { color: #08C }
 
ul.photo_navs a:hover img {
    border: 3px solid #08C;
    opacity: 0.6;
}

ul.photo_item_list img { border: 3px solid transparent; }

ul.photo_item_list a:hover img {
    border: 3px solid #08C;
    opacity: 0.6;
}

ul.photo_item_list a:visited:hover img {
    border: 3px solid #9933FF;
    opacity: 0.6;
}

a.m_over img { border: 3px solid #000000; }

a.m_over:hover img {
    border: 3px solid #08C;
    opacity: 0.6;
}

a.m_over:visited:hover img {
    border: 3px solid #9933FF;
    opacity: 0.6;
}

.user_contacts a img { border: 3px solid transparent;}


a.current_view_profile_pic img { border: solid 3px #468847 }

#logged_in_menu li a.alert_blue { color: #3A87AD }
     
.comment_list li { display: block; }
 
button.applaud_status[type="button"] { border: 1px solid transparent; }

button.applaud_status:hover { border: 1px solid #08C; }

button.beat_status[type="button"] { border: 1px solid transparent; }

button.beat_status:hover { border: 1px solid #08C; }

.status_accordion_child:hover { border: 1px solid #08C; }

.status_accordion_child { width: 100%; }

.status_post { box-shadow: 3px 3px 3px #000; }

input.gsc-input { color: #000; }

.default_lang { font-size: 9px; }

.forum_post_count { font-size: 11px; }

.rotate_photo {
    font-size: 10px;
    font-style: italic;
}

ul#rotator {
    margin: 0;
    padding: 0;
}



/* rotator in-page placement */

div#rotator {
    height: 300px;
    position: relative;
    width: 100%;
}
/* rotator css */

div#rotator ul li {
    float: left;
    list-style: none;
    position: absolute;
}
/* rotator image style */

div#rotator ul li img { width: 100%

/*background: #FFF;*/ }

div#rotator ul li.show { z-index: 500; }

.left_float { float: left; }


h1, h2, h4, legend { text-shadow: 4px 4px #000; }
h1 {font-size:35px; letter-spacing: .07em;}
h3 { line-height: 1.3em;}

h3.main_title { text-shadow: 5px 5px #000; font-family: Verdana, Geneva, sans-serif}

h4.title { text-shadow: none; }

.table tbody tr:hover td, .table tbody tr:hover th { color: yellow; }

.navbar-fixed-top {
 
    -moz-box-shadow: 0 5px 10px #000;
    -webkit-box-shadow: 0 5px 10px #000;
    box-shadow: 0 5px 10px #000;
}

/* radio  */

ul.radio_stations { list-style-type: none; }

ul.radio_stations li {
    float: left;
    padding: 5px;
}
    
    
ul.radio_stations2 { list-style-type: none; }

ul.radio_stations2 li {
    list-style-type: none;
    margin-bottom: 10px;
}

#non_webkit ul.radio_stations2 li {
    display: block;
    float: none;
}

.radio_stations2 li .radio_name { padding-left: 65px; }

.play_button { float: left; }

.radio_name {
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
}

.station_entry {
    display: block;
    height: 60px;
}
    

strong, b {letter-spacing: .05em}
    
    
a:visited {
    color: #9933FF;
}

a.btn:visited{color:#ffffff}
    
    
    
a.play_button {
    background-image: url(content/images/play_buttons.png);
    background-position: center top;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}
    
    
a.play_button:hover { background-position: center center; }

a.play_button:hover { background-position: center bottom; }

.forum_post_content {color: #FFF;}


.user_name {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 4px 4px #000;
}

    .ad_text {font-size: 11px;}


a { color: #09c  }
a:visited { color: magenta;}
a:hover  { color: #FFFF00  }
a:active {color:#FF0000 !important}

a:visited:hover { color: #FF6600;}

 

ul.photo_navs a:link:hover img  { border-color: #FFFF00  }
ul.photo_navs a:visited:hover img  { border-color: #FF6600}
ul.photo_item_list a:hover img  {border-color: #FFFF00  }
ul.photo_item_list a:visited:hover img  {border-color: #FFFF00  }
a.m_over img:hover  { border-color: #FFFF00  }
a.m_over:visited img:hover  { border-color: #FF6600}


ul.photo_navs a:link:hover img  { border-color: #FFFF00 !important }

ul.photo_navs a:active img { border-color: #FFFF00  }
ul.photo_navs a:visited:active img  { border-color: #FF6600}
ul.photo_item_list a:active img {border-color:#FF0000}
ul.photo_item_list a:visited:hover img {border-color:#FF6600}
ul.photo_item_list a:visited:active img,
a.m_over img:active,
a.m_over:visited img:active
{border-color:#FF0000}

ul.photo_navs a:active img {border-color:#FF0000  !important }

::selection {color:#000;background:  #FFFF00 }

#logged_in a.btn:visited:hover { color: #FFF !important;}
a.btn:hover { color: #FFF !important;}
a.btn:active { color: #FFF !important;}
a.btn:visited:hover { color: #FFF !important;}
a.btn:visited:active { color: #FFF !important;}

.table tbody tr:hover td, .table tbody tr:hover th { background-color: #1C1C1C; color: #999}


 /* theme */
 
 
.status_post {
    background-color: #000000;
    border: 5px double #222222;
}

.notification_list li {
    color: #F89406;
    list-style-type: lower-greek;
}

.post_content { color: #00FF1E; }

input[type=text], input[type=url], input[type=email], input[type=password], select, textarea {
    background-color: #000000;
    color: #00ff1e
}

.status_count_applaud { color: #01e836 }


 
 
.status_count_applaud { color: #468847; }

.status_count_beatdown { color: #B94A48; }

.status_comment_count_applaud { color: #468847; }

.status_comment_count_beatdown { color: #B94A48 }

.status_comment_count { color: #C09853; }


.birthdays li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ul.birthdays {
    margin-left: 0;
    padding-left: 0;
}

.navbar-inverse .navbar-inner { background-image: -webkit-linear-gradient(top, #222, #000); }

textarea { border-style: dashed; }

.line_space { line-height: 2em }
.user_icons li { list-style-type: none; }
.profile_username { font-size: .7em; }
.bright_green {color: #00FF1E}
.notification_color {color:#f89406}
#submit_post { margin-top: 3px;font-weight: bold;margin-bottom: 3px;}