
.ArtistContent
@using DasKlub.Lib.BOL
@using DasKlub.Lib.BOL.ArtistContent


<h3>Popular This Week</h3>
  
@{
    var sngrcds2 = new SongRecords();
    var sng1 = new SongRecord();

    /// most watched video

    var vids = new Videos();

    vids.GetMostWatchedVideos(7);


    foreach (Video v1 in vids)
    {
        sng1 = new SongRecord(v1);
        sngrcds2.Add(sng1);
    }
    @Html.Raw(sngrcds2.VideosList())
}