@using DasKlub.Lib.AppSpec.DasKlub.BOL
@using DasKlub.Lib.BOL

<h3>Newest Users</h3>

@{

    // newest
    var uas = new UserAccounts();
    uas.GetNewestUsers();
    @Html.Raw(uas.ToUnorderdList)
    ;
}