@using DasKlub.Lib.Resources

@{
    ViewBag.Title = Messages.Videos;
}
  

<div class="row" >
    <div class="span8">
        @{ Html.RenderPartial("_AdBanner468x60"); }
        <h2>@Messages.Videos</h2>
        <hr />
        @{ Html.RenderPartial("_editProfileMenu"); }
 
        <form method="post" action="@Url.Content("~/account/managevideos")">

            <!-- put connected videos -->

            @if (ViewBag.UserUploaded == null)
            {
                <i>@Messages.NoResults</i>
            }
            else
            {
                @Html.Raw(ViewBag.UserUploaded)
            }
        </form>
    </div>

    <div class="span4">
        @{ Html.RenderPartial("_AdBanner160x600"); }

    </div>
</div>