@using DasKlub.Lib.Resources
@{
    ViewBag.Title = Messages.Mail + ": " + Messages.Outbox;
}
<div class="row">
    <div class="span8">
        @{ Html.RenderPartial("_AdBanner468x60"); }
        <h2>@Messages.Mail</h2>
        <hr />
        @{ Html.RenderPartial("_mailMenu"); }
        <div id="mail_messages">
            @Html.Raw(ViewBag.DirectMessages)
        </div>
        @if (Convert.ToInt32(ViewBag.RecordCount) > 0)
        {
            if (Request.Browser.IsMobileDevice)
            {
                <button class="btn btn-primary dropdown-toggle" id="load_more" type="button">@Messages.LoadMore</button>
            }
        }
        @{ Html.RenderPartial("_bottomLoadingMessage"); }
    </div>
    <div class="span4">
        @{ Html.RenderPartial("_AdBanner160x600"); }
    </div>
</div>
@section _javascript {
    @if (Request.Browser.IsMobileDevice)
    {
        <script type="text/javascript">

            $('#load_more').click(function() {
                $('#loading').fadeIn();

                $.post($rootUrl + 'account/outboxmailitems?time=' + new Date().getTime(), { pageNumber: pageNumber },
                    function(data) {

                        pageNumber++;
                        $('#mail_items').append(data.ListItems);
                        $('#loading').fadeOut();
                    });

            });

        </script>
    }
    else
    {
        <script type="text/javascript">

            $(function() {
                $('#mail_items').scrollPagination({
                    'contentPage': $rootUrl + 'account/outboxmailitems', // the page where you are searching for results
                    'contentData': {}, // you can pass the children().size() to know where is the pagination
                    'scrollTarget': $(window), // who gonna scroll? in this example, the full window
                    'heightOffset': 75, // how many pixels before reaching end of the page would loading start? positives numbers only please
                    'beforeLoad': function() { // before load, some function, maybe display a preloader div
                        $('#loading').fadeIn();
                    },
                    'afterLoad': function(elementsLoaded) { // after loading, some function to animate results and hide a preloader div
                        $('#loading').fadeOut();
                        pageNumber++;
                        var i = 0;
                        $(elementsLoaded).fadeInWithDelay();
                        if ($('#mail_items').children().size() > 10000) { // if more than 100 results loaded stop pagination (only for test)
                            $('#nomoreresults').fadeIn();
                            $('#mail_items').stopScrollPagination();
                        }
                    }
                });

                // code for fade in element by element with delay
                $.fn.fadeInWithDelay = function() {
                    var delay = 0;
                    return this.each(function() {
                        $(this).delay(delay).animate({ opacity: 1 }, 200);
                        delay += 100;
                    });
                };

            });

        </script>
    }
}