@using DasKlub.Lib.Operational
@using DasKlub.Lib.Resources

@{

    Layout = null;
}
 
<html>
    <head>
        <title>@Messages.Map</title>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=@Utilities.GetCurrentLanguageCode().ToLower()"> </script>
        <style type="text/css">
            body {
                font-family: Tahoma, Geneva, sans-serif;
                margin: 0;
                padding: 0;
            }

            ul.user_list {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            ul.user_list li {
                background-color: #000;
                color: #FFF;
                height: 100px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100px;
            }
        </style>
    </head>
    <body>
        <script type ="text/javascript">
            @Html.Raw(ViewBag.MapScript)
        </script>

        <div id ="map"   
             style="height: 100%; width: 100%;">

        </div>
    </body>
</html>