@using BootBaronLib.AppSpec.DasKlub.BOL.DomainConnection
@using BootBaronLib.Operational
@using BootBaronLib.Resources
@using BootBaronLib.Values
@{
    ViewBag.Title = Messages.Store;
}
@{ Html.RenderPartial("_AdBanner"); }

<h2>
    @Messages.Store</h2>
<hr />

<div class="row">


    <div class="span8">
        @Html.Raw(SiteDomain.GetSiteDomainValue(
            SiteEnums.SiteBrandType.STORE,
            Utilities.GetCurrentLanguageCode()))


    </div>

    <div class="span4">
        @*    @{Html.RenderPartial("_AdBanner2"); }*@

        @Html.Raw(SiteDomain.GetSiteDomainValue(
            SiteEnums.SiteBrandType.STRSD,
            Utilities.GetCurrentLanguageCode()))

    </div>



</div>