.sprites { display: inline-block; }

.sprite-AD_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 0;
    height: 8px;
    width: 15px;
}

.sprite-AL_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -13px;
    height: 8px;
    width: 15px;
}

.sprite-AM_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -26px;
    height: 8px;
    width: 15px;
}

.sprite-AR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -39px;
    height: 8px;
    width: 15px;
}

.sprite-AS_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -52px;
    height: 8px;
    width: 15px;
}

.sprite-AT_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -65px;
    height: 8px;
    width: 15px;
}

.sprite-AU_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -78px;
    height: 8px;
    width: 15px;
}

.sprite-BD_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -91px;
    height: 8px;
    width: 15px;
}

.sprite-BE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -104px;
    height: 8px;
    width: 15px;
}

.sprite-BG_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -117px;
    height: 8px;
    width: 15px;
}

.sprite-BR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -130px;
    height: 8px;
    width: 15px;
}

.sprite-BY_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -143px;
    height: 8px;
    width: 15px;
}

.sprite-BZ_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -156px;
    height: 8px;
    width: 15px;
}

.sprite-CA_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -169px;
    height: 8px;
    width: 15px;
}

.sprite-CH_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -182px;
    height: 8px;
    width: 15px;
}

.sprite-CL_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -195px;
    height: 8px;
    width: 15px;
}

.sprite-CN_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -208px;
    height: 8px;
    width: 15px;
}

.sprite-CO_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -221px;
    height: 8px;
    width: 15px;
}

.sprite-CR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -234px;
    height: 8px;
    width: 15px;
}

.sprite-CU_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -247px;
    height: 8px;
    width: 15px;
}

.sprite-CY_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -260px;
    height: 8px;
    width: 15px;
}

.sprite-CZ_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -273px;
    height: 8px;
    width: 15px;
}

.sprite-DE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -286px;
    height: 8px;
    width: 15px;
}

.sprite-DK_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -299px;
    height: 8px;
    width: 15px;
}

.sprite-DO_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -312px;
    height: 8px;
    width: 15px;
}

.sprite-EC_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -325px;
    height: 8px;
    width: 15px;
}

.sprite-EE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -338px;
    height: 8px;
    width: 15px;
}

.sprite-ES_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -351px;
    height: 8px;
    width: 15px;
}

.sprite-FI_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -364px;
    height: 8px;
    width: 15px;
}

.sprite-FO_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -377px;
    height: 8px;
    width: 15px;
}

.sprite-FR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -390px;
    height: 8px;
    width: 15px;
}

.sprite-GE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -403px;
    height: 8px;
    width: 15px;
}

.sprite-GF_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -416px;
    height: 8px;
    width: 15px;
}

.sprite-GG_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -429px;
    height: 8px;
    width: 15px;
}

.sprite-GH_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -442px;
    height: 8px;
    width: 15px;
}

.sprite-GL_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -455px;
    height: 8px;
    width: 15px;
}

.sprite-GP_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -468px;
    height: 8px;
    width: 15px;
}

.sprite-GR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -481px;
    height: 8px;
    width: 15px;
}

.sprite-GT_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -494px;
    height: 8px;
    width: 15px;
}

.sprite-GU_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -507px;
    height: 8px;
    width: 15px;
}

.sprite-HN_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -520px;
    height: 8px;
    width: 15px;
}

.sprite-HR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -533px;
    height: 8px;
    width: 15px;
}

.sprite-HU_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -546px;
    height: 8px;
    width: 15px;
}

.sprite-IE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -559px;
    height: 8px;
    width: 15px;
}

.sprite-IM_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -572px;
    height: 8px;
    width: 15px;
}

.sprite-IN_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -585px;
    height: 8px;
    width: 15px;
}

.sprite-IQ_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -598px;
    height: 8px;
    width: 15px;
}

.sprite-IR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -611px;
    height: 8px;
    width: 15px;
}

.sprite-IS_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -624px;
    height: 8px;
    width: 15px;
}

.sprite-IT_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -637px;
    height: 8px;
    width: 15px;
}

.sprite-JE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -650px;
    height: 8px;
    width: 15px;
}

.sprite-JP_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -663px;
    height: 8px;
    width: 15px;
}

.sprite-KP_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -676px;
    height: 8px;
    width: 15px;
}

.sprite-KR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -689px;
    height: 8px;
    width: 15px;
}

.sprite-LI_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -702px;
    height: 8px;
    width: 15px;
}

.sprite-LK_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -715px;
    height: 8px;
    width: 15px;
}

.sprite-LT_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -728px;
    height: 8px;
    width: 15px;
}

.sprite-LU_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -741px;
    height: 8px;
    width: 15px;
}

.sprite-LV_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -754px;
    height: 8px;
    width: 15px;
}

.sprite-MC_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -767px;
    height: 8px;
    width: 15px;
}

.sprite-MD_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -780px;
    height: 8px;
    width: 15px;
}

.sprite-ME_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -793px;
    height: 8px;
    width: 15px;
}

.sprite-MH_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -806px;
    height: 8px;
    width: 15px;
}

.sprite-MK_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -819px;
    height: 8px;
    width: 15px;
}

.sprite-MQ_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -832px;
    height: 8px;
    width: 15px;
}

.sprite-MT_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -845px;
    height: 8px;
    width: 15px;
}

.sprite-MX_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -858px;
    height: 8px;
    width: 15px;
}

.sprite-NI_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -871px;
    height: 8px;
    width: 15px;
}

.sprite-NL_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -884px;
    height: 8px;
    width: 15px;
}

.sprite-NO_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -897px;
    height: 8px;
    width: 15px;
}

.sprite-NZ_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -910px;
    height: 8px;
    width: 15px;
}

.sprite-PA_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -923px;
    height: 8px;
    width: 15px;
}

.sprite-PE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -936px;
    height: 8px;
    width: 15px;
}

.sprite-PH_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -949px;
    height: 8px;
    width: 15px;
}

.sprite-PK_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -962px;
    height: 8px;
    width: 15px;
}

.sprite-PL_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -975px;
    height: 8px;
    width: 15px;
}

.sprite-PR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -988px;
    height: 8px;
    width: 15px;
}

.sprite-PT_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1001px;
    height: 8px;
    width: 15px;
}

.sprite-PY_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1014px;
    height: 8px;
    width: 15px;
}

.sprite-RE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1027px;
    height: 8px;
    width: 15px;
}

.sprite-RO_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1040px;
    height: 8px;
    width: 15px;
}

.sprite-RS_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1053px;
    height: 8px;
    width: 15px;
}

.sprite-RU_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1066px;
    height: 8px;
    width: 15px;
}

.sprite-SE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1079px;
    height: 8px;
    width: 15px;
}

.sprite-SG_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1092px;
    height: 8px;
    width: 15px;
}

.sprite-SI_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1105px;
    height: 8px;
    width: 15px;
}

.sprite-SK_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1118px;
    height: 8px;
    width: 15px;
}

.sprite-SM_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1131px;
    height: 8px;
    width: 15px;
}

.sprite-SR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1144px;
    height: 8px;
    width: 15px;
}

.sprite-SV_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1157px;
    height: 8px;
    width: 15px;
}

.sprite-SY_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1170px;
    height: 8px;
    width: 15px;
}

.sprite-TH_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1183px;
    height: 8px;
    width: 15px;
}

.sprite-TR_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1196px;
    height: 8px;
    width: 15px;
}

.sprite-U0_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1209px;
    height: 8px;
    width: 15px;
}

.sprite-UA_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1222px;
    height: 8px;
    width: 15px;
}

.sprite-UK_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1235px;
    height: 8px;
    width: 15px;
}

.sprite-US_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1248px;
    height: 8px;
    width: 15px;
}

.sprite-UY_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1261px;
    height: 8px;
    width: 15px;
}

.sprite-VA_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1274px;
    height: 8px;
    width: 15px;
}

.sprite-VE_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1287px;
    height: 8px;
    width: 15px;
}

.sprite-VI_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1300px;
    height: 8px;
    width: 15px;
}

.sprite-YT_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1313px;
    height: 8px;
    width: 15px;
}

.sprite-ZA_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1326px;
    height: 8px;
    width: 15px;
}

.sprite-defaultcountry_small {
    background: url(../images/countries/flag_sprite.png);
    background-position: 0 -1339px;
    height: 8px;
    width: 15px;
}