<!-- HOUSES ALL THE APPLICATION CONFIGURATION SETTINGS, EACH MUST BE UNIQUE -->

<appSettings>

  <!-- email opt out link -->
  <add key="EmailSettingsURL" value="http://dasklub.com/account/settings" />
  
  <!-- basic site info -->
  <add key="SiteDomain" value="http://dasklub.com" />
  <add key="SiteName" value="Das Klub" />
  <add key="SendToErrorEmail" value=""/>
  <add key="SendFromEmail" value=""/>
  <add key="DefaultVideo" value="http://www.youtube.com/embed/gGX7EKP5i-Y"/>
  
  <!-- gmail login to poll for emailed photos -->
  <add key="PhotoToEmail" value=""/> 
  <add key="PhotoToPassword" value=""/>
  <add key="PhotoMailPort" value="995"/>
  <add key="MailServer" value="pop.gmail.com"/>
  
  <!-- Amazon S3 credentials -->
  <add key="AmazonAccessKey" value=""/>
  <add key="AmazonSecretKey" value=""/>
  <add key="AmazonBucketName" value="" />
  
  <!-- YouTube developer account -->
  <add key="YouTubeDevKey" value="" />
  <add key="YouTubeDevUser" value="" />
  <add key="YouTubeDevPass" value="" />
  
  <!-- contact page links -->
  <add key="FacebookLink" value="https://www.facebook.com/dasklub"/>
  <add key="TwitterLink" value="http://www.twitter.com/dasklub"/>
  <add key="YoutubeLink" value="http://www.youtube.com/dasklubber"/>

 
  <add key="AdminUserName" value="admin" />
  <add key="RandomColors" value="#00F501,#FF1CAE,#4D4DFF,#FFFF00,#E56105" />
  <add key="IsGiveAway" value="false" />
  <add key="AmazonCloudDomain" value="http://s3.amazonaws.com/{0}/{1}"/>
  <add key="EnableErrorLogEmail" value="true"/>
  <add key="UseNetworkForMail" value="true" />
  <add key="UserChatRoomSessionTimeout" value="120"/>
  <add key="PostInterval" value="100000" />
  <add key="MinimumAge" value="16"/>
  <add key="AppID" value=""/>
  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\TempImageFiles;" />
  <add key="DefaultLanguage" value="EN"/>
  <add key="EnableVideoCheck" value="false"/>
  <add key="EnableSameIP" value="false"/>
  <add key="PayPalURL" value="https://www.paypal.com/cgi-bin/webscr" />
  <add key="PayPalPDTKey" value="" />
  <add key="GoogleAPIKey" value="" />


</appSettings>