@using DasKlub.Lib.AppSpec.DasKlub.BOL
@using DasKlub.Lib.Resources
@model  DasKlub.Web.Models.ProfileModel

@using (Html.BeginForm("WriteWallMessage", "Profile"))
{
    <div class="span4" style="margin: 0;">
        <textarea id="message_text" rows="4" name="message" style="width: 80%;" class="input-xlarge expand65-600"></textarea>
    </div>

    <input type="hidden" value="@Model.UserAccountID.ToString()" name="toUserAccountID" />

    <button type="submit" id="submit_post" class="btn btn-success">@Messages.Submit</button>
}

<div class="clear"></div>


<div id="status_update_list">
    @{
        var wall = new WallMessages();

        wall.GetWallMessagessPageWise(1, 5, Model.UserAccountID);
    }

    @Html.Raw(wall.ToUnorderdList)
           
</div>