@using DasKlub.Lib.Resources
@{
    ViewBag.Title = Messages.News + ": " + ViewBag.UserName;
}
<div class="row" style="margin-left: 0; padding-left: 0">

    <div class="span12" style="margin-left: 0; padding-left: 0; text-align: left;">
        <h2>@ViewBag.UserName: @Messages.News (@ViewBag.NewsCount)</h2>
        @{ Html.RenderPartial("_AdBanner468x60"); }
   
        <ul id="article_list" class="no_mp">
            @Html.Raw(Model.ToUnorderdList)
        </ul>
        <div class="clear"></div>
                
    </div>


            
</div>