@using DasKlub.Lib.Resources
@{
    ViewBag.Title = Messages.OnlineNow;
}

<div class="row" >
    <div class="span8">
        @{ Html.RenderPartial("_AdBanner468x60"); }
        <h2>@Html.Raw(Messages.OnlineNow)</h2>
        <hr />
        <i>@Messages.SortedByActivity</i>
        <div id="online_users">
   
            @Html.Raw(Model.ToUnorderdList)
        </div>
    </div>
       
    <div class="span4">
        <div class="clear"></div>
        @{ Html.RenderPartial("_AdBanner160x600"); }
      
    </div>

</div>

@section _javascript {


    <script type="text/javascript">

        var lastPost = '';


        function loadOnlineUsers() {


            $.post($rootUrl + 'findusers/onlinenow?time=' + new Date().getTime(),
                function(data) {

                    if (lastPost != data.Value) {

                        $("#online_users").fadeOut('fast');

                        $("#online_users").html(data.Value);

                        $("#online_users").fadeIn("slow");
                    }

                    lastPost = data.Value;
                });


        }

        setInterval(loadOnlineUsers, 15000);

    </script>
}