@using BootBaronLib.Resources

@{
    ViewBag.Title = Messages.ChangePassword;
}
          
<div class="row">
 
    <div class="span8">
        @{ Html.RenderPartial("_AdBanner"); }
        <h2>@Messages.ChangePassword</h2>
        @Messages.YourPasswordHasBeenReset
    </div>
    <div class="span4">

        @{ Html.RenderPartial("_AdBanner2"); }
    </div>
</div>