r@{
     ViewBag.Title = "Chatroom";
 }
<div class="vid_filter_block">
    <h1>
        Chatroom <i>(Ghetto edition <img src="/content/images/browsers/chrome.png" />
        
                     <img src="/content/images/browsers/safari.png" />
                     only)</i> </h1>

        

    <iframe src="/chat/Deafult.aspx"
            style="height: 400px; width: 800px;">
    </iframe>
 
</div>