@{
    ViewBag.Title = "Map";
}
 
<div class="vid_filter_block">
    <h1>
        Map    <div style="background-color: #b9b9b9; color: #000;">
                   <table>
                       <tr>
                           <td>
                               <img src="/icons/DasKlub.png" alt="User" />
                           </td>
                           <td>User</td>


                           <td>  &nbsp;&nbsp;&nbsp;
                               <img src="/icons/factory.png" alt="club" />
                           </td>
                           <td>Klub</td>


                           <td>&nbsp;&nbsp;&nbsp;
                               <img src="/icons/shop.png" alt="shop" />
                           </td>
                           <td>Shop</td>
          
                           <td>&nbsp;&nbsp;&nbsp;
                               <img src="/icons/power_plant.png" alt="power plant" />
                           </td>
                           <td>Festival</td>
                       </tr>
                   </table>
               </div>
    </h1> 
        
    <p>
        <i>(Approximate location of users, exact locations of klubs/ venues/ stores)</i> 
    </p>
       
    <iframe src="/map/MapWithClickablePushpins.aspx"
            style="height: 600px; width: 800px;">
    </iframe>
 
</div>