@using BootBaronLib.Resources

<div class="loading" id="loading" style="display: none;">
    <i>
        @Messages.LoadingDotDotDot</i>
    <img src="@Url.Content("~/content/images/loading/loadinggear.gif")" style="height: 50px;" alt="@Messages.LoadingDotDotDot" 
         title="@Messages.LoadingDotDotDot" />
</div>
<div class="loading" id="nomoreresults"> </div>