@using BootBaronLib.AppSpec.DasKlub.BOL;

   <h3>Newest Users</h3>

@{

            // newest
    UserAccounts uas = new UserAccounts();
            uas.GetNewestUsers();
            @Html.Raw(uas.ToUnorderdList);
            }


          