@using DasKlub.Lib.Resources
@{
    ViewBag.Title = ViewBag.FirstLetter;
}
@{ Html.RenderPartial("_AdBanner468x60"); }

<div class="row">
    <div class="span8">

        <h2>@ViewBag.FirstLetter</h2>
        <hr />
        <h4>@Messages.Band</h4>



        @Html.Raw(HttpUtility.HtmlDecode(ViewBag.LetterOfBands))
        <div class="clear"></div>

        <div id="band_list_cloud">

            @Html.Raw(HttpUtility.HtmlDecode(ViewBag.CloudBands))
        </div>
 
    </div>
    <div class="span4">

    </div>
</div>