@using DasKlub.Lib.AppSpec.DasKlub.BOL
@using DasKlub.Lib.Resources
@using DasKlub.Lib.Values
@{
    ViewBag.Title = Messages.Video;
}

@{ Html.RenderPartial("_AdBanner"); }
 
<h2>
    @Messages.Videos</h2>
<hr />
<div class="row">
 

    <div class="span8">
        <div class="row">
           
          
        </div>
        <hr />
        <div class="row">
           
        </div>

    </div>

    <div class="span4">
           
        
    </div>
     
      
</div>
<div class="row">
    <div class="span2">

        <div class="control-group">
           
        </div>  
    </div>

    <div class="span2">
        <div class="control-group">

           
        </div>  
    </div>

    <div class="span2">

        <div class="control-group">
  
        </div>  


            

    </div>  
  
    <div class="span4"></div>  </div>
 

  
<div class="row">
    <div class="span8"><i>@Messages.NewestAtTop</i>

    
               
    </div>
    <div class="span4">
       
    </div>
</div>
        
 