@{
    ViewBag.Title = ViewBag.ContestName;
}

<div class="row">
<div class="span8">
    @{ Html.RenderPartial("_AdBanner"); }
    <h2>@ViewBag.ContestName</h2>
    <hr />
    <br />
    <div class="gallery" >
        @Html.Raw(Model.VideosList())
    </div>
    <div class="clear"></div>
    </div>
    <div class="span4">
            @{ Html.RenderPartial("_AdBanner2"); }
        </div>
</div>