
@using DasKlub.Lib.BOL.DomainConnection
@using DasKlub.Lib.Operational
@using DasKlub.Lib.Resources
@using DasKlub.Lib.Values
@{
    ViewBag.Title = Messages.Store;
}
@{ Html.RenderPartial("_AdBanner728x90"); }

<h2>
    @Messages.Store</h2>
<hr />

<div class="row">


    <div class="span8">
        @Html.Raw(SiteDomain.GetSiteDomainValue(
            SiteEnums.SiteBrandType.STORE,
            Utilities.GetCurrentLanguageCode()))


    </div>

    <div class="span4">
        @*    @{Html.RenderPartial("_AdBanner160x600"); }*@

        @Html.Raw(SiteDomain.GetSiteDomainValue(
            SiteEnums.SiteBrandType.STRSD,
            Utilities.GetCurrentLanguageCode()))

    </div>



</div>