 
 @using BootBaronLib.Enums
@using BootBaronLib.Resources

@{
    ViewBag.Title = Messages.Variations;
}
@{Html.RenderPartial("_adminMenu"); }    

<h2>@Messages.Variations</h2>

@{Html.RenderPartial("_productNav"); }