@using BootBaronLib.Resources
@{
    ViewBag.Title = Messages.Error;
}
<div class="row">

    <div class="span8">
        <h2>@Messages.Error</h2>
        <hr />
        <img src="@Url.Content("~/content/images/error/death_caution.png")" alt="@Messages.Error" 
             title="@Messages.Error" />
    </div>

    <div class="span4"></div>
</div>